{% extends "storyboard/base.html" %}

{% load static %}
{% static "" as baseUrl %}

{% block user-info %}
    <div style = "color:white; font-size: 18px; padding-top: 5pt; padding-right: 5pt;">{{user.username}}</div>
{% endblock %}

{% block content %}

    <div class="entire-panel">
        <!-- Left Panel -->
        <div class="left-panel">
            <!-- Question Section -->
            <div class="question">
                <!-- Add Question Content Here -->
                Question 1: A dolphin jumps with an initial velocity of 25 m/s at an angle of 30° above the horizontal. The dolphin passes through the center of a hoop before returning to the water. If the dolphin is moving horizontally at the instant it goes through the hoop, how high, H, above the water is the center of the hoop?
            </div>

            <div class="option-figure">
            <!-- Options Section (Multiple Choice) -->
                <form class="options">
                    <label class="option">
                        <input type="radio" name="answer" value="option1">
                        <div class="option-value">4.8 m</div>
                    </label>
                    <label class="option">
                        <input type="radio" name="answer" value="option2">
                        <div class="option-value">6.4 m</div>
                    </label>
                    <label class="option">
                        <input type="radio" name="answer" value="option3">
                        <div class="option-value">8.0 m</div>
                    </label>
                    <label class="option">
                        <input type="radio" name="answer" value="option4">
                        <div class="option-value">12.5 m</div>
                    </label>
                    <label class="option">
                        <input type="radio" name="answer" value="option5">
                        <div class="option-value">16.0 m</div>
                    </label>
                </form>
                <div class="figure"><img src="/static/storyboard/images/Q1/Q1_fig.png"/></div>
            </div>

            <!-- Submit Section -->
            <div class="submit-section">
                <button>See Example</button>
                <button type="submit" form="options">Submit</button>
            </div>

            <!-- Knowledge Components Section -->
            <div class="knowledge-section">
                <h3>Knowledge Components:</h3>
                <div class="knowledge-stars">
                    <div class="knowledge">Understand Problem</div>
                    <div class="stars">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="starless"></div>
                    </div>
                </div>
                <div class="knowledge-stars">    
                    <div class="knowledge">Split into Components</div>
                    <div class="stars">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="starless"></div>
                        <div class="starless"></div>
                    </div>
                </div>
                <div class="knowledge-stars">     
                    <div class="knowledge">Apply Relevant Equations</div>
                    <div class="stars">
                        <div class="star"></div>
                        <div class="starless"></div>
                        <div class="starless"></div>
                        <div class="starless"></div>
                        <div class="starless"></div>
                    </div>
                </div>
                <div class="knowledge-stars">     
                    <div class="knowledge">Perform algebra and arithmetic</div>
                    <div class="stars">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="starless"></div>
                        <div class="starless"></div>
                        <div class="starless"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Panel -->
        <div class="right-panel">
            <!-- Hint Section -->
            <div class="hint-section">
                <div class="hint-navigation">
                    <button>Previous Hint</button>
                    <button>Next Hint</button>
                </div>
                <!-- Question Section -->
                <div class="hint">
                    <!-- Add Question Content Here -->
                    Hint 2 [Split into components]: The initial velocity is 25 m/s at an angle of 30° above the horizontal. What are the x and y components of the initial velocity?
                </div>

                <div class="option-figure">
                <!-- Options Section (Multiple Choice) -->
                    <form class="options">
                        <label class="option">
                            <input type="radio" name="answer" value="option1">
                            <div class="option-value">
                                \(v_{0,x} = 25 \sin(30^o) m/s\) <br>
                                \(v_{0,y} = 25 \sin(30^o) m/s\)
                            </div>
                            
                        </label>
                        <label class="option">
                            <input type="radio" name="answer" value="option2">
                            <div class="option-value">
                                \(v_{0,x} = 25 \sin(30^o) m/s\) <br>
                                \(v_{0,y} = 25 \tan(30^o) m/s\)
                            </div>
                        </label>
                        <label class="option">
                            <input type="radio" name="answer" value="option3">
                            <div class="option-value">
                                \(v_{0,x} = 25 \cos(30^o) m/s\) <br>
                                \(v_{0,y} = 25 \sin(30^o) m/s\)
                            </div>
                        </label>
                        <label class="option">
                            <input type="radio" name="answer" value="option4">
                            <div class="option-value">
                                \(v_{0,x} = 25 \tan(30^o) m/s\) <br>
                                \(v_{0,y} = 25 \sin(30^o) m/s\)
                            </div>
                        </label>
                        <label class="option">
                            <input type="radio" name="answer" value="option5">
                            <div class="option-value">
                                \(v_{0,x} = 25 m/s\) <br>
                                \(v_{0,y} = 0 m/s\)
                            </div>
                        </label>
                    </form>
                    <div class="figure"><img src="/static/storyboard/images/Q1/Q1_fig_hint1.png"/></div>
                </div>

            </div>

            <!-- Feedback Section -->
            <h3>Feedback:</h3>
            <div class="feedback-section">
                <!-- Add Feedback Content Here -->
                XXX
            </div>

        </div>
    </div>

{% endblock %}