{% extends "storyboard/base.html" %} {% load static %} {% static "" as baseUrl
%} {% block user-info %}
<div
  style="color: white; font-size: 18px; padding-top: 5pt; padding-right: 5pt"
>
  {{user.username}}
</div>
{% endblock %} {% block content %}

<div class="entire-panel">
  <!-- Left Panel -->
  <div class="left-panel">
    <!-- Question Section -->
    <div class="question" id="question_text">
      <!-- Add Question Content Here -->
      <!-- Question 1: A dolphin jumps with an initial velocity of 25 m/s at an angle of 30° above the horizontal. The dolphin passes through the center of a hoop before returning to the water. If the dolphin is moving horizontally at the instant it goes through the hoop, how high, H, above the water is the center of the hoop? -->
      {{ question }}
    </div>

    <div class="option-figure">
      <!-- Options Section (Multiple Choice) -->
      <form class="options" method="post" id="questionForm">
        {% csrf_token %}
        <div style="display: flex;">
          <div id="question_option" style="width: 50%;">
            <!-- <input type="hidden" name="unique_identifier" value="submit_answer" /> -->
            {% for choice in choices_question %}
            <label class="option">
              <input type="radio" name="answer" value="{{ choice.idx }}" 
              {% if selected_opt_idx == choice.idx %} 
              checked 
                {% if is_correct %} class="correct" {% else %} class="incorrect" {% endif %}
              {% endif %}
              />
              <div class="option-value">{{ choice.text }}</div>
            </label>
            {% endfor %}
          </div>
          <div class="figure" id="question_figure">
            <img
              src="/static/storyboard/images/{{ question_img_url }}"
              alt="No Image"
            />
          </div>
        </div>
        <div class="submit-section">
          
          <button type="submit">Submit</button>
          <div class="see-example-section">
            <button type="button" id="seeExample">See Example</button>
          </div>
          
        </div>
      </form>
      
    </div>
    <div>
      <button id="prev_question" onclick="changeQuestion(false)" 
      {% if disable_prev_question %} disabled {% endif %}>Previous</button>
      <button id="next_question" onclick="changeQuestion(true)" 
      {% if disable_next_question %} disabled {% endif %}>Next</button>
    </div>
    <!-- Knowledge Components Section -->
    <div class="knowledge-section" id="kc_display">
      <h3>Knowledge Components:</h3>

      {% for kc in knowledge_components %}
      <div class="knowledge-stars">
        <div class="knowledge">{{ kc.knowledge }}</div>
        <div class="stars">
          {% for star in kc.stars %}
          <div class="{{ star }}"></div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Right Panel -->
  <div class="right-panel">
    <!-- Hint Section -->
    <div class="hint-section">
      <div class="hint-navigation">
        {% if disable_prev_hint %}
        <button id="prevHint" disabled>Previous Hint</button>
        {% else %}
        <button id="prevHint">Previous Hint</button>
        {% endif %}
        <button id="nextHint">Next Hint</button>
      </div>
      <!-- Hint Question Section -->
      <div class="hint" id="hint_text">{{ hint }}</div>

      <div class="option-figure">
        <!-- Placeholder for hint options -->

        <!-- End of hint options -->
        {% if hint_img_url %}
        <div id="hint_option" style="width: 50%">
          <form class="options" id="form_hint">
            {% csrf_token %} {% for choice in choices_hint %}
            <label class="option">
              <input type="radio" name="hint_answer" value="{{ choice.idx }}" />
              <div class="option-value">{{ choice.text|safe }}</div>
            </label>
            {% endfor %}
          </form>
        </div>
        <div class="hint-figure" id="hint_figure" style="width: 50%">
          <img
            src="/static/storyboard/images/{{ hint_img_url }}"
            alt="No Image"
          />
        </div>
        {% else %}
        <div id="hint_option">
          <form class="options" id="form_hint" style="width: 100%">
            {% csrf_token %} {% for choice in choices_hint %}
            <label class="option">
              <input type="radio" name="hint_answer" value="{{ choice.idx }}" />
              <div class="option-value">{{ choice.text|safe }}</div>
            </label>
            {% endfor %}
          </form>
        </div>
        <div class="hint-figure" id="hint_figure" style="width: 0%"></div>
        {% endif %}
      </div>
    </div>

    <!-- Feedback Section -->
    <h3>Feedback:</h3>
    <div class="feedback-section" id="feedback">{{ feedback|linebreaks|safe }}</div>
  </div>

  <!-- Overlay for 'See Example' -->
  <div id="exampleOverlay" class="overlay" style="display: none">
    <div class="overlay-content">
      {{ example_problem|linebreaks|safe }}
      <button id="closeExample">Close</button>
    </div>
  </div>

  <div id="congratOverlay" class="overlay" style="display: none">
    <div class="overlay-content">
      Congratulations! You've passed all the questions! <br>
      <button id="closeCongrat">Close</button>
    </div>
  </div>
</div>

<script>
  // QUESTION FORM
  document.getElementById("questionForm").onsubmit = function (event) {
    event.preventDefault(); // Prevent the form from submitting normally

    const form = event.target;
    const formData = new FormData(form);
    formData.append("unique_identifier", "submit_answer");

    fetch(form.action, {
      method: "POST",
      body: formData,
      headers: {
        "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
      },
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        const options = form.querySelectorAll(".option input[type='radio']");

        // Reset all option classes and colors
        options.forEach((input) => {
          input.classList.remove("correct", "incorrect");
        });

        // Highlight the selected option based on correctness
        options.forEach((input) => {
          if (input.value === formData.get("answer")) {
            input.classList.add(data.correct ? "correct" : "incorrect");
          }
        });

        // Activate Next question button if correct
        if (data.correct) document.getElementById("next_question").disabled = false;

        // Update feedback section
        document.querySelector(".feedback-section").textContent = data.feedback;

        // If all answers are correct
        if (data.isAllCorrect) {
          document.getElementById("congratOverlay").style.display = "block";
          document.getElementById("next_question").disabled = true;
        }
      })
      .catch((error) => console.error("Error:", error));
  };

  // HINT FORM
  document
    .querySelectorAll('.hint-section .option input[type="radio"]')
    .forEach((input) => {
      input.addEventListener("change", function () {
        const selectedValue = this.value;

        const form = this.closest("form");
        const formData = new FormData(form);
        formData.append("hint_answer", selectedValue);
        formData.append("unique_identifier", "submit_hint"); // To identify hint submissions in your view

        fetch(window.location.href, {
          // or specify a different URL for hint processing
          method: "POST",
          body: formData,
          headers: {
            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
              .value,
          },
        })
          .then((response) => response.json())
          .then((data) => {
            const hintOptions = document.querySelectorAll(
              ".hint-section .option input[type='radio']"
            );

            // Reset all hint option classes
            hintOptions.forEach((input) => {
              input.classList.remove("correct", "incorrect");
            });

            // Highlight based on server response
            hintOptions.forEach((input) => {
              if (input.value === selectedValue) {
                input.classList.add(data.correct ? "correct" : "incorrect");
              }
            });

            // Update feedback from server response
            document.querySelector(".feedback-section").textContent =
              data.feedback;
          })
          .catch((error) => console.error("Error:", error));
      });
    });

  // Add event listeners for hint navigation buttons
  document.getElementById("prevHint").addEventListener("click", function () {
    changeHint(false); // false indicates we want the previous hint
  });

  document.getElementById("nextHint").addEventListener("click", function () {
    changeHint(true); // true indicates we want the next hint
  });

  function changeQuestion(isNextQuestion) {
    const formData = new FormData();
    formData.append("unique_identifier", "change_question");
    formData.append("isNextQuestion", isNextQuestion);
    // Deactivate Next question button if next question
    // if (isNextQuestion) document.getElementById("next_question").disabled = true;
    // else document.getElementById("next_question").disabled = false;

    fetch("{% url 'changequestion' %}", {
      method: "POST",
      body: formData,
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        // Update the question content
        document.getElementById("question_text").textContent = data.question;

        // Update the question image if available
        const questionFigureDiv = document.getElementById("question_figure");
        questionFigureDiv.innerHTML = "";
        const questionOptionDiv = document.getElementById("question_option");
        if (data.question_img_url) {
          const questionFigure = document.createElement("img");
          questionFigure.src = "/static/storyboard/images/" + data.question_img_url;
          questionFigure.style.display = "block";
          questionFigureDiv.appendChild(questionFigure);
          questionFigureDiv.style.width = "50%";
          questionOptionDiv.style.width = "50%";
        } else {
          questionFigureDiv.style.width = "0%";
          questionOptionDiv.style.width = "100%";
        }

        // Update the question options
        const questionForm = document.getElementById("question_option");
        questionForm.innerHTML = "";
        data.choices_question.forEach((choice) => {
          const label = document.createElement("label");
          label.className = "option";

          const input = document.createElement("input");
          input.type = "radio";
          input.name = "answer";
          input.value = choice.idx;

          const div = document.createElement("div");
          div.className = "option-value";
          div.innerHTML = choice.text;

          label.appendChild(input);
          label.appendChild(div);
          questionForm.appendChild(label);
        });

        // Load history if there was
        updateHistory(data);

        // Disable buttons is necessary
        document.getElementById("prev_question").disabled = data.disable_prev_question;
        document.getElementById("next_question").disabled = data.disable_next_question;
        document.getElementById("feedback").textContent = "";

        // Update hint
        updateHint(data);

        // Update KC
        updateKC(data);

        // Update example question
        const overlay = document.getElementById("exampleOverlay");
        overlay.innerHTML = ""
        const overlay_content = document.createElement("div");
        overlay_content.className = "overlay-content";
        overlay_content.innerText = data.example_problem;
        const close_button = document.createElement("button");
        close_button.id = "closeExample";
        close_button.textContent = "Close";
        close_button.addEventListener("click", function () {
          document.getElementById("exampleOverlay").style.display = "none";
        });
        overlay_content.appendChild(close_button);
        overlay.appendChild(overlay_content);

        // **Add the following line to re-render LaTeX**
        if (window.MathJax) {
          MathJax.typeset();
        }
      })
      .catch((error) => console.error("Error:", error));
  }

  function updateHistory(data) {
    const options = document.querySelectorAll("input[name='answer']");

    // Reset all option classes and colors
    options.forEach((input) => {
      input.classList.remove("correct", "incorrect");
    });

    // Highlight the selected option based on correctness
    options.forEach((input) => {
      if (input.value == data.selected_opt_idx) {
        console.log(input.value);
        input.classList.add(data.is_correct ? "correct" : "incorrect");
        input.checked = true;
      }
    });
  }

  function changeHint(isNextHint) {
    const formData = new FormData();
    formData.append("unique_identifier", "change_hint");
    formData.append("isNextHint", isNextHint);
    formData.append("hint_option_idx", 0);

    fetch("{% url 'changehint' %}", {
      method: "POST",
      body: formData,
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        updateHint(data);
      })
      .catch((error) => console.error("Error:", error));
  }

  function updateHint(data) {
    // Update the hint content
    document.getElementById("hint_text").textContent = data.hint;

    // Update the hint image if available
    const hintFigureDiv = document.getElementById("hint_figure");
    hintFigureDiv.innerHTML = "";
    const hintOptionDiv = document.getElementById("hint_option");
    if (data.hint_img_url) {
      const hintFigure = document.createElement("img");
      hintFigure.src = "/static/storyboard/images/" + data.hint_img_url;
      hintFigure.style.display = "block";
      hintFigureDiv.appendChild(hintFigure);
      hintFigureDiv.style.width = "50%";
      hintOptionDiv.style.width = "50%";
    } else {
      hintFigureDiv.style.width = "0%";
      hintOptionDiv.style.width = "100%";
    }

    // Update the hint options
    const hintForm = document.getElementById("form_hint");
    hintForm.innerHTML = "";
    data.choices_hint.forEach((choice) => {
      const label = document.createElement("label");
      label.className = "option";

      const input = document.createElement("input");
      input.type = "radio";
      input.name = "hint_answer";
      input.value = choice.idx;

      const div = document.createElement("div");
      div.className = "option-value";
      div.innerHTML = choice.text;

      label.appendChild(input);
      label.appendChild(div);
      hintForm.appendChild(label);
    });

    document.getElementById("prevHint").disabled = data.disable_prev_hint;
    document.getElementById("feedback").textContent = "";

    // Reattach the event listeners for the new hint options
    attachHintOptionListeners();

    // **Add the following line to re-render LaTeX**
    if (window.MathJax) {
      MathJax.typeset();
    }
  }

  function updateKC(data) {
    const kc_section = document.getElementById("kc_display");
    kc_section.innerHTML = "<h3>Knowledge Components:</h3>";

    data.knowledge_components.forEach((kc) => {
      const label = document.createElement("div");
      label.className = "knowledge-stars";

      const kc_name = document.createElement("div");
      kc_name.className = "knowledge";
      kc_name.textContent = kc.knowledge;

      const div = document.createElement("div");
      div.className = "stars";
      
      kc.stars.forEach((star) => {
        const s = document.createElement("div");
        s.className = star;
        div.appendChild(s);
      });

      label.appendChild(kc_name);
      label.appendChild(div);
      kc_section.appendChild(label);
    });
  }

  function attachHintOptionListeners() {
    document
      .querySelectorAll('.hint-section .option input[type="radio"]')
      .forEach((input) => {
        input.addEventListener("change", function () {
          const selectedValue = this.value;

          const form = this.closest("form");
          const formData = new FormData(form);
          formData.append("hint_answer", selectedValue);
          formData.append("unique_identifier", "submit_hint");

          fetch(window.location.href, {
            method: "POST",
            body: formData,
            headers: {
              "X-CSRFToken": "{{ csrf_token }}",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              const hintOptions = document.querySelectorAll(
                ".hint-section .option input[type='radio']"
              );

              // Reset all hint option classes
              hintOptions.forEach((input) => {
                input.classList.remove("correct", "incorrect");
              });

              // Highlight based on server response
              hintOptions.forEach((input) => {
                if (input.value === selectedValue) {
                  input.classList.add(data.correct ? "correct" : "incorrect");
                }
              });

              // Update feedback from server response
              document.querySelector(".feedback-section").textContent =
                data.feedback;

              // **Add the following line to re-render LaTeX**
              if (window.MathJax) {
                MathJax.typeset();
              }
            })
            .catch((error) => console.error("Error:", error));
        });
      });

    // **Add the following line to re-render LaTeX after attaching listeners**
    if (window.MathJax) {
      MathJax.typeset();
    }
  }

  // Call the function to attach listeners on page load
  attachHintOptionListeners();

  // Open the overlay when 'See Example' button is clicked
  document.getElementById("seeExample").addEventListener("click", function () {
    document.getElementById("exampleOverlay").style.display = "block";
    if (window.MathJax) {
      MathJax.typeset();
    }
  });

  // Close the overlay when 'Close' button is clicked
  document
    .getElementById("closeExample")
    .addEventListener("click", function () {
      document.getElementById("exampleOverlay").style.display = "none";
    });

  document
    .getElementById("closeCongrat")
    .addEventListener("click", function () {
      document.getElementById("congratOverlay").style.display = "none";
    }); 
</script>

{% endblock %}
